<!DOCTYPE html>
<head>
<html lang="{{ site.lang | default: "en-US" }}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    {% include head-custom.html %}
	<script>
    function toRandomImage() {
  		const images = [
	  		'assets/CaH/academia-writing.png',
		  	'assets/CaH/curiosity-is-the-essence-of-science.png',
        'assets/CaH/forget-everything.png',
        'assets/CaH/gravity-dumb.png',
        'assets/CaH/hate-school.png',
        'assets/CaH/ive-got-rights.png',
        'assets/CaH/last-minute-panic.png',
        'assets/CaH/like-graduate-thesis.png',
        'assets/CaH/math-religion.png',
        'assets/CaH/math-vs-snow.png',
        'assets/CaH/no-dinosaurs-at-school.png',
        'assets/CaH/no-exceptions.png',
        'assets/CaH/not-so-abstract.png',
        'assets/CaH/not-so-abstract.png',
        'assets/CaH/real-job.png',
        'assets/CaH/research-grant.png',
        'assets/CaH/robot-working.png',
        'assets/CaH/south-experiment.png',
        'assets/CaH/thinking-on-weekend.png',
        'assets/CaH/those-are-mine.png',
		  ];
      const image = images[Math.floor(Math.random() * images.length)];
      window.location.href = image;
    }
	  </script>
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1><a href="{{ "/" }}">{{ site.title }}</a></h1>
        <small><p align="right"> {{site.pronouns}} </p></small>
        {% if site.logo %}
            <a id="Logo" onclick="toRandomImage()"><img src="{{ site.logo | relative_url }}" style="width:100%;"/></a>
        {% endif %}

        <p> <center>{{site.bio}}</center> </p>
           
        <div class="contacts">
            <h4><span class="email"></span>e-mail</h4>
            <p>luc [dot] passemard [at] irif [dot] fr </p>

            <h4><span class="address"></span>office address</h4>
            <p> {{site.location}} </p>

            <!--<h4><span class="links"></span>links</h4>
            <a href="https://arxiv.org/search/cs?searchtype=author&query=Passemard,+L">ArXiv</a> <br>-->
        </div>        
        
      </header>
      <section>

      {{ content }}

      </section>
      <footer>
        <!-- {% if site.github.is_project_page %}
        <p>This project is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></p>
        {% endif %}
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p> -->
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>

  </body>
</html>
